<div class="row">
  <div class="col-md-3 column margintop20">
  <ul class="nav nav-pills nav-stacked">
    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Marget</a>
    </li>
    <li><a href="#" class="active2"><span class="glyphicon glyphicon-chevron-right"></span>Laura</a>
    </li>
    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span>Robert</a>
    </li>
    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span>Albert</a>
    </li>
    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span>Michale</a>
    </li>
  </ul>
  </div>
  <div class="col-md-9 ">

    <table class="table table-bordered">
      <ul class="mail-list3">
    <tr>
      <th>Title</th>
        <td>sale marketing</td>
      </tr>
      <tr>
      <th>Hire Date</th>
        <td>16/11/1996</td>
      </tr>
      <tr>
        <th>Adress</th>
        <td>60 truong cong giai </td>
      <tr>
        <th>City</th>
      <td>Vietnam</td>
      </tr>
      <tr>
        <th>Phone</th>
        <td>032876651</td>
      </tr>

      </ul>
    </table>

  </div>
</div>
