<div class="row">
  <div class="col-md-12">
    <div class="col-md-3"><a>Todo</a></div>
    <div class="col-md-3"><a>InProgress</a></div>
    <div class="col-md-3"><a>InReview</a></div>
    <div class="col-md-3"><a>Done</a></div>
  </div>
  <div class="col-md-1 ">
    <p>Todo1</p>
    <p>Inproges1</p>
    <p>In Review1</p>
    <p>Done1</p>

  </div>
  <div class="col-md-1 ">
    <p>Todo4</p>
    <p>Inproges4</p>
    <p>In Review4</p>
    <p>Done4</p>

  </div>

  <div class="col-md-1 ">
    <p>Todo2</p>
    <p>Inproges2</p>
    <p>In Review2</p>
    <p>Done2</p>

  </div>

  <div class="col-md-1 ">
    <p>Todo3</p>
    <p>Inproges3</p>
    <p>In Review3</p>
    <p>Done3</p>

  </div>
  <div class="col-md-1 ">
    <p>Todo1</p>
    <p>Inproges1</p>
    <p>In Review1</p>
    <p>Done1</p>

</div>
